body {
  background: #f9d2d2;
}

h1,
h3 {
  text-align: center;
}

img {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}
footer {
  text-align: center;
  margin: 20px;
}
a {
  margin: 20px;
}
